body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.title {
    text-align: center;
    padding: 20px;
}

/* Gallery layout */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s;
    /* object-fit: cover; */
    object-fit: contain;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Lightbox style */
#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
    border: 4px solid white;
    border-radius: 5px;
}
